version: '3.7'

services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=9mREsvXDs9Gk89Ef
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql